body {
    background-color: rgb(205, 253, 255);

    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.info {
    display: flex;
}
.info-text {
   margin-left: 40px;


}
.info p {
    color: rgb(8, 8, 8);
    margin-bottom: 20px;

}

.container{
    width: 80%;
    margin: auto;

}
h2 {
   text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}
h1 {
    text-align: center;
}
.table {
    width: 100%;
    text-align: left;

}
.table td {
    text-align: left;

}

.foto{
    width: 230px;
    border-radius: 25%;

}
.contact {
    font-size: 30px;
    font-family: unset;
    display: flex;
    column-gap: 30%;

}